<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance!!!</title>
    </head>
    <body>
        {{> header}}
        <p>Spadówa, maintenance</p>
        {{> footer}}
    </body>
</html>